{% extends 'Admin/base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}

<div class="container">
    <h2>Update Profile</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <!-- <div class="avatar-wrapper">
                    <img class="profile-pic" src="" />
                    <div class="upload-button">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </div>
                    <input class="file-upload" type="file" accept="image/*" />
                </div> -->
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" width="150px" src="{% static 'images/students.png' %}"><span
                            class="font-weight-bold">Image</span>
                        <span>
                        </span>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="fullname">Full Name</label>
                                <input type="text" class="form-control" id="fullname" name="fullname"
                                    value="{{ form.fullname.value }}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label for="address">Address</label>
                                <textarea class="form-control" id="address"
                                    name="address">{{ form.address.value }}</textarea>
                            </div>
                            <div class="col-md-12">
                                <label for="dob">Date of Birth</label>
                                <input type="date" class="form-control" id="dob" name="dob"
                                    value="{{ form.dob.value }}">
                            </div>
                            <div class="col-md-12">
                                <label for="contactNo">Contact No</label>
                                <input type="tel" class="form-control" id="contactNo" name="contactNo"
                                    value="{{ form.contactNo.value }}">
                            </div>
                            <div class="col-md-12">
                                <label for="courseDuration">Course Duration(in year)</label>
                                <input type="number" class="form-control" id="courseDuration" name="courseDuration"
                                    value="{{ form.courseDuration.value }}">
                            </div>
                            <div class="col-md-12">
                                <label for="course">Course</label>
                                <input type="text" class="form-control" id="course" name="course"
                                    value="{{ form.course.value }}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="tenthPercentage">10th Percentage</label>
                                <input type="number" class="form-control" id="tenthPercentage" name="tenthPercentage"
                                    value="{{ form.tenthPercentage.value }}" max="100">
                            </div>
                            <div class="col-md-6">
                                <label for="twelthPercentage">12th Percentage</label>
                                <input type="number" class="form-control" id="twelthPercentage" name="twelthPercentage"
                                    value="{{ form.twelthPercentage.value }}" max="100">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">Save</button>
                </div>
            </div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message.message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </form>

</div>
{% endblock %}