{% extends 'Home/base.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
<!--content-block-->
{% block content %}

<div class="container" style="margin-top: 50px;">
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <center>
                <h1>About Us</h1>
            </center>
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'images/about_1.webp' %}" class="rounded img-fluid d-block mx-auto" alt="App"
                        width="500" height="500">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">RASE...?</h2>
                    </div>
                    <div class="left-text">
                        <p>RASE project is aimed at developing a repository for the alumni of the college, which is of
                            Importance to a college. The Repository and Search Engine (RASE) is an Internet based
                            application that can be accessed throughout the World. Anyone can access the search Engine
                            to know about any Alumni of that college but can't add. Alumni can only update the database
                            when they are in college. The main aim of this project RACE is that students can utilize
                            them for academic assistance and support from others. Due to the ability of social media to
                            enhance connections by making them easily accessible, this project can yield many benefits
                            for the students, including providing a virtual space for them to explore their interests or
                            problems with similar individuals, academic support, while strengthening online
                            communication skills and knowledge. RACE is a nice form of entertainment great for meeting
                            old and new students with similar interest and can be a very effective business technique
                            for Engineering, Management, technical, IT students etc. This project includes profiles,
                            students, blog posts, groups, discussions, advertisements etc. And usually something unique
                            that particular social networking.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
        quisquam,
        odit ipsam aliquid laboriosam explicabo nemo alias sit error molestias corporis tenetur quos optio maxime vel
        voluptates deleniti voluptatibus. Adipisci iste, laborum soluta possimus perferendis impedit nulla rem in, sunt
        qui
        tempora odio, quo eum! Recusandae laboriosam adipisci animi explicabo suscipit ullam nobis, nisi sint totam
        minus
        vero deleniti quisquam cum sequi, quaerat ducimus! Aut eaque ratione quia voluptatum quos, adipisci hic
        laboriosam
        nostrum minima in excepturi incidunt. Porro reiciendis tempora, error nihil eveniet molestiae odio reprehenderit
        quas debitis similique, adipisci aliquid vero et fuga natus magnam corrupti pariatur non.</p>
    <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
        <h1 class="display-6"><strong>MISSION</strong></h1>
    </div>
    <p style="background-color: whitesmoke">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga,
        quaerat? Ea
        fuga, soluta nemo debitis pariatur numquam beatae ipsam ad. Corrupti numquam rerum in animi fugiat ipsum, velit
        nostrum minus?</p>
    <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
        <h1 class="display-6"><strong>VISION</strong></h1>
    </div>
    <p style="background-color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quas
        deleniti
        Atque, sunt! Reiciendis eveniet repudiandae temporibus architecto corrupti molestiae at ducimus nostrum tempore
        voluptatem natus Eum ipsum rerum ipsa</p>
</div>

{% endblock %}