{% extends 'Home/base.html' %}
{% load static %}

<!--content-block-->
{% block content %}
<h1>contact us</h1>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <img src="co1.jpg" width="100%" height="500px" alt="" class="img">

            </div>
        </div>
    </div>

    <h1 style="text-align: center; background-color:bisque ;">Contact us...</h1>

    <div>
        <table style="width: 100%;text-align: left; background-color: bisque;">

            <tr>
                <th>Address for communication</th>
                <th>General enquiry</th>

            </tr>
            <tr>
                <td>Address: Velloor PO,
                    Pampady,
                    Kottayam - 686501, Kerala , india.</td>
                <td>Phone: +91-000-4082000</td>
            </tr>

            <tr>
                <td>Phone: +91-000-1081000</td>
                <td>Email:<a href="">abc@Xyz.net.in</a></td>
            </tr>
            <tr>
                <td>Fax: +91-000-100000</td>
                <td>Email:<a href="">abc@Xyz.net.in</a></td>
            </tr>

            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <th>website</th>

            <th>Consultancy service</th>
            </tr>
            <tr>
                <td>Phone: +91-000-1001000</td>
                <td>Email:<a href="">enquiry@abc.net.in</a> </td>
            </tr>
            <tr>
                <td><a href="">les@abc.net.in</a></td>
                <td>Phone: +91-000-1000000</td>
            </tr>


        </table>

    </div>

    {% endblock %}