{% extends 'registration/registration.html' %}

<!-- register page -->
{% block register_page %}


<div class="container min-vh-100">
    <div class="row h-100  align-items-center justify-content-center">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
            <div class="card custom-card">
                <div class="card-body">
                    <p>Registration</p>
                    <form action="" method="post" class="custom-form">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}