{% extends 'registration/registration.html' %}

<!-- register page -->
{% block register_page %}


<section class="container-fluid p-5">
    <div class="row h-100  align-items-center justify-content-center">
        <div class="col-lg-8">
            <h1 class="text-light">Registration</h1>
            <p class="text-white-50">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga itaque ratione quos explicabo consectetur. Voluptate odit architecto velit consequatur suscipit voluptates sunt tenetur quis, accusamus totam fuga molestias, quidem veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolores deleniti repellat cumque, facilis ad possimus natus obcaecati quisquam maxime officia asperiores beatae iste perspiciatis repudiandae, velit voluptatibus recusandae provident?
            </p>
        </div>
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="card-body">
                    <form action="" method="post" class="custom-form">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}