{% extends 'Admin/base.html' %}
{% block title %}Edit Job Offers{% endblock %}
{% block content %}

<div class="container">
    <h2>Edit Job Offer</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div style="width: 50%;">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{form.title.value}}">
            </div>
            <div class="form-group">
                <label for="companyname">companyname</label>
                <input type="text" class="form-control" id="companyname" name="companyname"
                    value="{{form.companyname.value}}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description">{{form.description.value}}</textarea>
            </div>
            <div class="form-group">
                <label for="eligibilities">Eligibilities</label>
                <textarea class="form-control" id="eligibilities"
                    name="eligibilities">{{form.eligibilities.value}}</textarea>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" value="{{form.location.value}}">
            </div>
            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="text" class="form-control" id="salary" name="salary" value="{{form.salary.value}}">
            </div>
            <div class="form-group">
                <label for="lastdate">Lastdate</label>
                <input type="date" class="form-control" id="lastdate" name="lastdate" value="{{form.lastdate.value}}">
            </div>
            <div class="form-group">
                <label for="reference">reference</label>
                <input type="text" class="form-control" id="reference" name="reference"
                    value="{{form.reference.value}}">
            </div>
            <div class="form-group">
                <label for="contact">Apply URL</label>
                <input type="url" class="form-control" id="applyurl" name="applyurl" value="{{form.applyurl.value}}">
            </div>


        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}