{% extends 'Admin/base.html' %}
{% block title %}Edit Profile{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Update Profile</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <!-- <div class="avatar-wrapper">
                    <img class="profile-pic" src="" />
                    <div class="upload-button">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </div>
                    <input class="file-upload" type="file" accept="image/*" />
                </div> -->
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" width="150px" src="{% static 'images/Alumni.png' %}"><span
                            class="font-weight-bold">Image</span>
                        <span>
                        </span>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="fullname">Full Name</label>
                                <input type="text" class="form-control" id="fullname" name="fullname"
                                    value="{{ form.fullname.value }}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label for="address">Address</label>
                                <textarea class="form-control" id="address"
                                    name="address">{{ form.address.value }}</textarea>
                            </div>
                            <div class="col-md-12">
                                <label for="dob">Date of Birth</label>
                                <input type="date" class="form-control" id="dob" name="dob"
                                    value="{{ form.dob.value }}">
                            </div>
                            <div class="col-md-12">
                                <label for="contactNo">Contact No</label>
                                <input type="tel" class="form-control" id="contactNo" name="contactNo"
                                    value="{{ form.contactNo.value }}">
                            </div>
                            <div class="col-md-12">
                                <label for="courseDeatils">Course Details</label>
                                <input type="text" class="form-control" id="courseDeatils" name="courseDeatils"
                                    value="{{ form.courseDeatils.value }}">
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <label for="yearOfJoining">Year Of Joining</label>
                                    <input type="number" class="form-control" id="yearOfJoining" name="yearOfJoining"
                                        value="{{ form.yearOfJoining.value }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="yearOfPassing">Year Of Passing</label>
                                    <input type="number" class="form-control" id="yearOfPassing" name="yearOfPassing"
                                        value="{{ form.yearOfPassing.value }}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="jobStatus">Job Status</label>
                                <input type="text" class="form-control" id="jobStatus" name="jobStatus"
                                    value="{{ form.jobStatus.value }}">
                            </div>
                        </div>


                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">Save</button>
                </div>
            </div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message.message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}