{% extends 'Admin/base.html' %}
{% block title %}Edit Question{% endblock %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Edit Question</h2>
    <div class="container rounded bg-white mt-5 mb-5">

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="width: 50%; padding: 40px;">
                <div class="col-md-12">
                    <label for="question">Question</label>
                    <textarea class="form-control" id="question" name="question">{{form.question.value}}</textarea>
                </div>
                <br>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message.message }}
                </div>
                {% endfor %}
                {% endif %}
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}