{% extends 'master/master.html' %}


{% block aboutus_page %}
<section class="container-fluid p-5">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-4">
            <h1 class="text-light text-center">About Us</h1>
        </div>
        <div class="col-lg-6">
            <p class="text-white-50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eveniet velit maxime nesciunt
                architecto fugit perspiciatis voluptas quas voluptate laudantium dolor qui saepe, pariatur totam
                sapiente impedit tempore perferendis dolores? Modi unde accusantium fuga facere maiores reprehenderit
                fugit nesciunt optio perferendis, aliquid ipsa eum officiis, quibusdam nostrum magnam nihil, nemo cum
                vel! Rerum doloremque eos blanditiis, illo molestiae suscipit voluptatem quo debitis quibusdam sint
                tempore vitae officiis modi dignissimos, perferendis provident sit! Labore ipsam quisquam adipisci amet
                saepe tempore quia, distinctio molestiae magni, nihil iste excepturi laborum. Ullam id impedit optio
                itaque animi tempora repudiandae, rerum eligendi temporibus enim molestias.
            </p>
        </div>
    </div>
</section>
{% endblock %}