<div class="d-flex align-items-start sidebar shadow">
    <ul class="list-group list-group-flush w-100">
        <li class="list-group-item"><a class="nav-link" href="{% url 'DashBoard:dashboard'%}">Dashboard</a></li>
        <li class="list-group-item"><a class="nav-link" href="{% url 'DashBoard:jobOffer'%}">Job Offers</a></li>
        <li class="list-group-item"><a class="nav-link" href="{% url 'DashBoard:dashboard' %}">Blog</a></li>
        <li class="list-group-item"><a class="nav-link" href="{% url 'DashBoard:dashboard' %}">college</a></li>
        <li class="list-group-item"><a class="nav-link" href="{% url 'DashBoard:dashboard'%}">Profile</a></li>
    </ul>
</div>